### ANSWER 1

In [2]:
a = 0
def b():
    global a
    a = c(a)
    print(a)
def c(a):
    return a+2

In [3]:
b()
b()
b()

2
4
6

In [4]:
a

6

Every time function b() is executed it access global variable "a" and "a" is assigned to function "c" which passes value of a into c(a), 


#### b( ) executed first time:
when we executed b() for the first time: a was 0, then in function a was assigned to function c(a) passing value of a which was 0 and then after c(a) returned value a+2 which was 0+2 so first output was 2

#### b( ) executed second time:
when we executed b() for the second time: a was 2, then in function a was assigned to function c(a) passing value of a which was 2 and then after c(a) returned value a+2 which was 2+2 so first output was 4

#### b( ) executed third time:
when we executed b() for the second time: a was 4, then in function a was assigned to function c(a) passing value of a which was 4 and then after c(a) returned value a+2 which was 4+2 so first output was 6


In every execution global variable "a" is being changed, and when we execute "a" at end, it returns value 6.

### ANSWER 2

In [14]:
def FILE_LENGTH(file_name):
    try:
        file_details = open(file_name)
        info = file_details.read()
        file_details.close()
        print(len(info))
    except: print(f"File {file_name} not found!")

In [15]:
FILE_LENGTH("document.txt")

24

In [16]:
FILE_LENGTH("document123.txt")

File document123.txt not found!

### ANSWER 3

In [26]:
info = []
a = 0
b = 0
class Marsupial():
    
    def put_in_pouch(self,user_input):
        info.append(user_input)
    
    def pouch_contents(self):
        print(info)
        
class Kangaroo(Marsupial):
    def __init__(self,a,b):
        Marsupial.__init__(self)
        
    def __str__(self):
        return(f"I am a Kangaroo located at coordinates({a},{b})")
    
    def jump(self,xcor,ycor):
        global a
        global b
        a +=xcor
        b +=ycor

In [27]:
result = Marsupial()
result.put_in_pouch("doll")
result.put_in_pouch("firetruck")
result.put_in_pouch("kitten")
result.pouch_contents()

['doll', 'firetruck', 'kitten']

In [28]:
k= Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

### ANSWER 4

In [30]:
import math
put = int(input("Type:"))

def collatz(put):
    print(math.trunc(put))
    if put == 1:
        pass
    elif put % 2 == 0:
        collatz(put/2)
    elif put %2 != 0:
        collatz((3 * put)+1)
        

collatz(put)

Type:10
10
5
16
8
4
2
1

### ANSWER 5

In [31]:
def binary(num):
    if num < 2:
        print (math.trunc(num), end = '')
    else:
        binary(num/2)
        print (math.trunc(num%2), end = '')

In [32]:
binary(0)

0

In [33]:
binary(1)

1

In [34]:
binary(3)

11

In [35]:
binary(9)

1001

### ANSWER 6

In [53]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    variable = False
    def __init__(self):
        HTMLParser.__init__(self)

    def handle_starttag(self,var,attrs):
        if var == "h1":
            self.variable = True
        elif var == "h2":
            self.variable = True
    
    def handle_data(self,data):
        if self.variable:
            print(data, end = "  ")

In [55]:


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

for var in range(1,tags):
    if tags[var] == "h1":
        print(tags_data[var-1])
    if tags[var] == "h2":
        print(f"  {tags_data[var]}")

W3C Mission
	  Principles

### ANSWER 7

In [1]:
from urllib.parse import urljoin 
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self,url):
    super().__init__()
    self.url = url
    self.links = []
        
  def handle_starttag(self, tag, attrs):
    if tag == 'a':
      for attr in attrs:
        if attr[0] == 'href':
          abs = urljoin(self.url, attr[1])
          if abs[:4] == 'http':
            self.links.append(abs)
                        
  def getLinks(self):
    return self.links

In [ ]:
def webdir(url, depth, indent):
  if depth < 0:
    pass
    
  print("\t"*indent + url)
  res = urlopen(url)
  con = res.read().decode()
  coll = Collector(url)
  coll.feed(con)
  links = coll.getLinks()   
    
  for link in links:
    webdir(link, depth-1, indent+1)

In [2]:
url = input("Please type URL: ")
depth = int(input("Please provide depth: "))
indent = int(input("Please provide indent: "))

webdir(url, depth, indent)

Please type URL: http://reed.cs.depaul.edu/lperkovic/test1.html
Please provide depth: 2
Please provide indent: 0
http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

### ANSWER 8

a) SELECT * FROM temprature; 

b) SELECT DISTINT cities from temprature;

c) SELECT * from temprature WHERE country = 'India';

d) select * from temprature where season = 'Fall';

e) select city, country, season from temprature where rainfall BETWEEN 200 AND 400;

f) SELECT city, country from temprature where season = 'Fall' AND temprature > 20 ORDER BY temprature;

g) select SUM(rainfall) from temprature where country = 'Cairo';

h) select season ,SUM(rainfall) from temprature GROUP BY SEASON;

### ANSWER 9

In [106]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
upper = []
lower = []
total_length = []
all_list = []
new=[]

for word in words:
    upper.append(word.upper())
print("A)", upper)

for word in words:
    lower.append(word.lower())
print("B)", lower)
    

for word in words:
    count_word = len(word)
    total_length.append(count_word)
print("C)" ,total_length)


for word in words:
    capital = word.upper()
    small = word.lower()
    count = len(word)
    all_list.append([capital,small,count])
print("D)", all_list)
    

for word in words:
    if len(word)>=4:
        new.append(word)
print("E)" ,new)

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']